body {
    background-repeat: no-repeat;
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
    color: aliceblue;
}

.formação {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.left {
    align-items: center;
    text-align: center;
    flex-direction: column;
    display: flex;
    background-image: url(https://wallpaperaccess.com/full/1202950.jpg);
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-size: 25px;
    margin-bottom: 0px;
}

p1 {
    color: aliceblue;
    font-size: 25px;
}

p2 {
    color: aliceblue;
    font-size: 25px;
}

h1 {
    font-style:italic;
    color:aliceblue;
    font-size: 23px;
}

ul {
    color: aliceblue;
    padding: 3px;
}

img {
    border-style: ridge;
    border-color: white;
    border-width: 3px;
    border-radius: 3px;
}

li {
    padding: 2px;
    text-align:left;
}

@media (max-width:350px) {
    body {

        display: flex;
        flex-direction: column-reverse;

    }
}