body{
    background-repeat: no-repeat;
    background-color: black;
    background-size: 280px 800px;
    background-image: url(https://wallpaperaccess.com/full/1202950.jpg);
}

.grid-container{
    display: grid;
    grid-template-columns: 50px auto;
}

p{
    color: aliceblue;
    font-size: 25px;
    margin-left: 57px;
}

p1{
    color: aliceblue;
    font-size: 25px;
    margin-left: 15px;
}

p2{
    color: aliceblue;
    font-size: 25px;
    margin-left: 10px;
}

p3{
    position: fixed;
    margin-left: 300px;
    margin-top: 50px;
    color: aliceblue;
}

h1{
    color: aliceblue;
    font-size: 23px;
    margin-left: 9px;
}

h2{
    position: fixed;
    margin-left: 450px;
    margin-top: 1px;
    color: aliceblue;
}

ul{
    color: aliceblue;
    padding: 15px 20px 10px 10px
}

img{
    border-style: ridge;
    border-color: white;
    border-width: 3px;
    border-radius: 3px;
}
li{
    margin-left: 30px;
}